.footer {
  background: #000;
  width: 100%;
}

.footer-container {
  padding: 7.5rem 1.25rem 3.75rem 1.25rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
}

.footer-contato a {
  color: #fff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-contato {
    font-size: 1.5rem;
  }
}
