body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

body {
  font: 500 1rem/1.4 "Nunito", Arial, Helvetica, sans-serif;
  color: #222;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.overheader-bg {
  background: #112ab2;
  width: 100%;
}

.overheader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.overheader p,
.overheader a {
  color: #fff;
  margin: 10px 10px 10px 10px;
  font-weight: 700;
}

.header-bg {
  background: #2c70ff;
}

.header {
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #fff;
}

.header-logo {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

.nav a {
  font-size: 1.25rem;
  font-weight: 700;
  display: block;
  padding: 0.625rem;
}

.nav a:hover {
  color: #112ab2;
}

main h1 {
  font-size: 3rem;
  line-height: 1;
  padding: 3.75rem 0;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  padding: 3.75rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sobre-info {
  flex: 2 1 18.75rem;
}

.sobre-info h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.sobre-info p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #7c7c7c;
}

.sobre-img {
  flex: 1 1 10rem;
}

.produto {
  padding: 3.75rem 0;
}

.produto h2 {
  font-size: 3rem;
  margin: 0 10px 60px 10px;
}

.produto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
}

.produto-item {
  flex: 1 1 10.9375rem;
}

.produto-item h3 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

.preco-bg {
  background: #f1f1f1;
}

.preco {
  padding: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
}

.preco-item {
  flex: 1 1 260px;
  border: 0.25rem solid #fff;
  padding: 20px;
}

.preco-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
  margin-top: 1.25rem;
}

.preco-item span {
  max-width: 18.75rem;
  margin: 1.25rem auto;
  padding: 0.625rem 0 0.3125rem 0;
  display: block;
  text-align: center;
  font-weight: 700;
  border-top: 0.25rem solid #fff;
  border-bottom: 0.25rem solid #fff;
  font-size: 3rem;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 18.75rem;
  margin: 1.25rem auto;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
}
.preco-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.botao {
  max-width: 18.75rem;
  display: block;
  margin: 1.25rem auto;
  border: 0.25rem solid;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.qualidade {
  display: flex;
  flex-wrap: wrap;
}

.qualidade-item {
  flex: 1 1 300px;
  margin: 1.25rem 0.625rem;
}

.qualidade-item h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 1.25rem;
}

.qualidade-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 0.625rem;
  background: #112ab2;
}

.qualidade-item:nth-child(3n + 1) h2::before {
  background: #ae81ff;
}

.qualidade-item:nth-child(3n + 2) h2::before {
  background: #f9265e;
}

.qualidade-item:nth-child(3n + 3) h2::before {
  background: #66d9eb;
}

.qualidade-item p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

.newsletter-bg {
  background: #f7f7f7;
}

.newsletter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
}

.newsletter-info {
  flex: 1 1 260px;
  margin: 0 10px;
}

.newsletter-info h2 {
  font-size: 3rem;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25rem;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 0.625rem;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 0.625rem;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 200px;
  color: #7c7c7c;
  font-size: 1.25rem;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  border: 0.25rem solid #2c70ff;
  background: transparent;
  padding: 0.625rem;
  margin: 0;
  border-radius: 0;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito";
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #2c70ff;
  color: #fff;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: 1rem 0.625rem;
}

.footer-bg {
  background: #2c70ff;
}

.footer {
  display: flex;
  align-items: center;
  height: 200px;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25rem;
  color: #112ab2;
  font-family: "Nunito";
  font-weight: 700;
}

@media (max-width: 800px) {
  .preco {
    padding: 0 10px 0 10px;
  }
  .ouro {
    order: -2;
  }
  .prata {
    order: -1;
  }
}

@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5rem;
  }
}
